h1 {
    margin-top: 85px;
}

.cart {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
    margin: auto;
    width: 150vh;
    height: 150px;
    border-top: rgba(128, 128, 128, 0.233) 2px solid;




}