body {
    margin: 0;
    display: block;
    align-items: center;
    text-align: center;

    form {
        margin: 45px auto;
        width: 80vw;

        .comments {
            color: red;
        }

        input {}

    }
}