body {
    margin: 0;
    display: block;
    align-items: center;
    text-align: center;

    .register {
        margin: auto;
        width: 100vw;
        height: 70ch;
        display: flex;


        .img {
            width: 60vw;
            height: 70ch;
            background: url(../../Photos/register.jpg) no-repeat center center/cover;
        }

        form {
            display: block;
            align-items: start;
            justify-content: center;
            width: 40vw;
            margin: auto;

            input {
                display: block;
                margin: 7px auto;
            }

            .comments {
                color: red;
            }

            button {
                margin-top: 10px;
                background-color: black;
                color: white;
                padding: 1px;
                height: 25px;
                width: 9vw;
            }
        }
    }
}