body {
    margin: 0;
    box-sizing: border-box;

    .home {
        width: 90vw;
        margin: 100px;
        display: grid;
        grid-template-columns: repeat(6, 250px);
        align-items: center;
        justify-content: center;
        gap: 1rem;

    }
}