h1 {
    margin-top: 85px;
}

.wish_list {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
    margin: auto;
    width: 150vh;
    height: 150px;
    border-top: rgba(128, 128, 128, 0.233) 2px solid;





    button {
        background-color: white;
        height: 50px;
        margin: 20px;
    }
}