body {
    margin: 0;


    .login {
        display: flex;
        height: 40vw;
        margin: auto;

        .img {
            background: url(../../Photos/login.png) no-repeat center center/cover;
            width: 40vw;
            height: 40vw;
        }


        form {
            display: block;
            align-items: start;
            justify-content: center;
            margin: auto;
            width: 50vw;
        }

        .comments {
            color: red;
        }

        button {
            margin: 20px;
            padding: 2px;
            width: 20vh;
            height: 30px;
            background-color: black;
            color: white;
        }
    }
}