body {
    margin: 0;

    background: url(../../boyImg/boy.png);

    .login {
        text-align: center;
        margin: auto;
        width: 80vw;


        .comments {
            color: red;
        }

        bottom {
            margin: 20px;
        }
    }
}