.admin {
    margin: 95px auto;

    th {
        width: 10.5vw;
    }

    table {

        margin: 40px;
        border-collapse: collapse;

        td {
            border-top: 1px solid black;
            height: -0.5px;
            width: 10vw;

            img {
                padding: 10px;
                width: 60px;
            }
        }
    }
}