.admin {
    margin: 95px auto;

    .create {
        background-color: white;
        border: black solid 2px;
        margin: 30px;

    }

    tr.title {
        width: 11vw;
        border-top: none;

    }

    tr.title_product {
        width: 85vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    table {

        margin: 40px;
        border-collapse: collapse;

        td.description {
            width: 20vw;
            padding-right: 10px;
        }

        td.title {
            border-top: none;
            font-weight: bolder;
        }

        td {
            border-top: 1px solid black;
            height: -0.5px;
            width: 11vw;


            img {
                padding: 10px;
                width: 50px;
            }
        }
    }
}