table {
    // width: 50%;
    border-collapse: collapse;

    th {
        background-color: red;
    }

    td {
        border-bottom: 1px solid black;
        height: -0.5px;
        width: 10%;
        padding: 0;
    }

}