body {
    margin: 0;

    .card {
        margin: auto;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: rgba(128, 128, 128, 0.174) solid 3px;
        width: 65vw;
        height: 550px;

        .description {
            text-align: center;
            width: 50%;
            margin-bottom: 35px;


            .img_description {
                text-align: end;
            }

            .sizes {
                display: flex;
                justify-content: end;

                .size {
                    display: flex;
                    background-color: rgba(128, 128, 128, 0.098);
                    color: rgb(79, 79, 79);
                    text-align: center;
                    justify-content: center;
                    width: 30px;
                    height: 40px;
                    margin: 5px;

                }



            }
        }

        .imges {
            width: 50%;
            margin-left: 50px;
            display: block;
            align-items: center;
            justify-content: space-between;

            .bigImg {
                display: flex;
                justify-content: center;

                .heart {
                    height: 5ch;
                    z-index: 3;
                    background: none;
                    position: relative;
                    right: 7vh;
                }


            }

            .imgBth {
                display: flex;
                align-items: center;
                justify-content: end;

            }
        }
    }
}