header {
    background: black;
    width: 100vw;
    height: 10ch;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;

    .logo {
        font-family: 'Times New Roman', Times, serif;
        align-items: center;
        background-color: white;
        width: 8vw;
        font-size: 30px;
        border-radius: 5px;
        color: black;
        padding: 7px;
        text-align: center;
        height: 2ch;
    }

    .options {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40vw;

        .brands {
            color: white;

            img {
                width: 50px;
                height: 50px;
                display: none;
            }
        }

        .brands:hover {
            .brands_img {

                display: flex;
                background-color: rgba(172, 169, 162, 0.852);
                width: 40vh;
                height: 13ch;
                position: absolute;
                top: 70px;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 100px;
                    height: 100px;
                    display: flex;
                }
            }
        }
    }

    .icons {
        width: 13vw;
        height: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .MagnifyingGlass {
            height: 18px;
            padding: 3px;
            color: black;
            background: white;
        }
    }


    a {
        color: white;
        margin: 5px;
        align-items: center;
        display: flex;
        height: 50px;
    }

    .active {
        border: white 2px solid;
        border-radius: 25px;
        padding: 7px;

    }
}